# System files
# ------------

Icon
.DS_Store

# Packages
# ---------------

/node_modules/*

# Temporary files
# ---------------

/media/*
!/media/.gitkeep

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/.gitkeep

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/.gitkeep

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/.gitkeep

# License
# ---------------

/site/config/.license
