@import "bulma/sass/utilities/initial-variables.sass";

$blue: #59A6D9;
$green: #88B559;
$purple: #332131;
$red: #D47866;
$light: #F5EAE0;
$dark: $purple;
$primary: $red;

$custom-colors: (
  "blue": ($blue, $black),
  "green": ($green, $black),
  "red": ($red, $black),
  "purple": ($purple, $white)
);

$family-secondary: "Tahoma", $family-sans-serif;

$text: $dark;
$text-strong: inherit;
$link: inherit;
$link-hover: $primary;
$subtitle-color: inherit;

$scheme-main: $light;

$radius: 0;

$navbar-background-color: $dark;
$navbar-item-color: $white;
$navbar-item-active-color: $navbar-item-color;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $navbar-item-color;
$footer-background-color: $black;
$footer-color: $white;

$card-radius: 0;
$card-footer-border-top: 1px solid $grey;

// Utilities
@import "bulma/sass/utilities/functions.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/utilities/controls.sass";
@import "bulma/sass/utilities/extends.sass";

// Base
@import "bulma/sass/base/minireset.sass";
@import "bulma/sass/base/generic.sass";
// @import "bulma/sass/base/animations.sass";

// Elements
// @import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
// @import "bulma/sass/elements/icon.sass";
// @import "bulma/sass/elements/image.sass";
// @import "bulma/sass/elements/notification.sass";
// @import "bulma/sass/elements/progress.sass";
// @import "bulma/sass/elements/table.sass";
// @import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
// @import "bulma/sass/elements/other.sass";

// Form
// @import "bulma/sass/form/shared.sass";
// @import "bulma/sass/form/input-textarea.sass";
// @import "bulma/sass/form/checkbox-radio.sass";
// @import "bulma/sass/form/select.sass";
// @import "bulma/sass/form/file.sass";
// @import "bulma/sass/form/tools.sass";

// Components
// @import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/card.sass";
// @import "bulma/sass/components/dropdown.sass";
// @import "bulma/sass/components/level.sass";
// @import "bulma/sass/components/media.sass";
// @import "bulma/sass/components/menu.sass";
// @import "bulma/sass/components/message.sass";
// @import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/components/pagination.sass";
// @import "bulma/sass/components/panel.sass";
// @import "bulma/sass/components/tabs.sass";

// Grid
@import "bulma/sass/grid/columns.sass";
// @import "bulma/sass/grid/tiles.sass";

// Helpers
@import "bulma/sass/helpers/color.sass";
// @import "bulma/sass/helpers/flexbox.sass";
// @import "bulma/sass/helpers/float.sass";
// @import "bulma/sass/helpers/other.sass";
// @import "bulma/sass/helpers/overflow.sass";
// @import "bulma/sass/helpers/position.sass";
// @import "bulma/sass/helpers/spacing.sass";
// @import "bulma/sass/helpers/typography.sass";
// @import "bulma/sass/helpers/visibility.sass";

// Layout
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";

