.navbar {
  font-weight: $weight-semibold;

  a:not(:hover, .is-active) {
    text-decoration: none;
  }

  &-start {
    margin-left: auto;
    margin-right: 0;
  }
  &-brand a {
    flex-shrink: 1;

    &:hover img {
      opacity: 0.8;
    }
  }
  &-lang a:hover {
    color: inherit;
  }

  @include until($navbar-breakpoint) {
    .button {
      margin-right: 0 !important;
      width: 100%;
    }
  }
}

.footer {
  ul a {
    text-decoration: none;
  }

  &-copyright {
    text-align: center;
  }
}
