nav {
  @include until($navbar-breakpoint) {
    .button {
      margin-right: 0 !important;
      width: 100%;
    }
  }

  .navbar-start {
    margin-left: auto;
    margin-right: 0;
  }

  a {
    font-weight: $weight-semibold;

    &:not(.button) {
      &:hover, &.is-active {
        text-decoration: underline $primary 2px; 
      }
    }
  }


  .navbar-brand a {
    flex-shrink: 1;

    &:hover {
      opacity: 0.8;
    }

    img {
      filter: brightness(100);
    }
  }

  .navbar-lang a:hover {
    color: inherit;
  }

  .navbar-burger {
    flex-shrink: 0;
  }
}

.hero-body {
  text-align: center;

  .title:not(:last-child) {
    margin-bottom: $size-1;
  }
  .button {
    font-weight: $weight-medium;
  }
}

footer > div > div.content:last-child {
  text-align: center;
}
