@font-face {
  font-family: 'Police Titre';
  src: url('/police-titre.woff2') format('woff2'),
      url('/police-titre.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1, h2 {
  font-family: $family-secondary;

  &.title {
    line-height: inherit;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: $size-1;
    }
  }
}

a:not(.button) {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 2px;

  @mixin link-variant($color) {
    text-decoration-color: $color;

    &:hover {
      color: $color;
    }
  }
  &.is-build {
    @include link-variant($build);
  }
  &.is-regenerate {
    @include link-variant($regenerate);
  }
  &.is-intervene {
    @include link-variant($intervene);
  }
}

details {
  &:not(:last-child) {
    margin-bottom: $size-6;
  }

  summary {
    cursor: pointer;
  }
  .content {
    margin-top: $size-7;
  }
}

iframe {
  display: block;

  &:not(:last-child) {
    margin-bottom: $size-4;
  }
}

.card {
  &-footer-item {
    display: inline-block;
    text-align: center;
  }
}

.buttons {
  &.is-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    min-width: 50%;
    width: fit-content;

    &:first-child:last-child {
      height: 100%;
    }

    .button {
      width: 100%;
    }
  }

  .button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
