@use 'src/styles/_variables.scss';

.mb-0 {
	margin-bottom: 0;
}
.w-100 {
	width: 100%;
}
.floating-image {
	user-select: none;
	pointer-events: none;
}

/*! purgecss start ignore */
.text-construire:not(.text-regenerer) {
	color: variables.$color-construct-strong;
}
.text-construire.text-regenerer {
	color: variables.$color-construct-regenerate-strong;
}
.text-regenerer:not(.text-construire):not(.text-interposer) {
	color: variables.$color-regenerate-strong;
}
.text-regenerer.text-interposer {
	color: variables.$color-regenerate-intervene-strong;
}
.text-interposer:not(.text-regenerer) {
	color: variables.$color-intervene-strong;
}

.bg-construire:not(.bg-regenerer) {
	background: variables.$color-construct-light;
}
.bg-construire.bg-regenerer {
	background: variables.$color-construct-regenerate-light;
}
.bg-regenerer:not(.bg-construire):not(.bg-interposer) {
	background: variables.$color-regenerate-light;
}
.bg-regenerer.bg-interposer {
	background: variables.$color-regenerate-intervene-light;
}
.bg-interposer:not(.bg-regenerer) {
	background: variables.$color-intervene-light;
}

.bd-construire:not(.bd-regenerer) {
	border: 1px solid variables.$color-construct;
}
.bd-construire.bd-regenerer {
	border: 1px solid variables.$color-construct-regenerate;
}
.bd-regenerer:not(.bd-construire):not(.bd-interposer) {
	border: 1px solid variables.$color-regenerate;
}
.bd-regenerer.bd-interposer {
	border: 1px solid variables.$color-regenerate-intervene;
}
.bd-interposer:not(.bd-regenerer) {
	border: 1px solid variables.$color-intervene;
}
/*! purgecss end ignore */
