@use 'src/styles/_variables.scss';

.mb-0 {
	margin-bottom: 0;
}
.w-100 {
	width: 100%;
}
.floating-image {
	user-select: none;
	pointer-events: none;
}

/*! purgecss start ignore */
.text-construct:not(.text-regenerate) {
	color: variables.$color-construct-strong;
}
.text-construct.text-regenerate {
	color: variables.$color-construct-regenerate-strong;
}
.text-regenerate:not(.text-construct):not(.text-intervene) {
	color: variables.$color-regenerate-strong;
}
.text-regenerate.text-intervene {
	color: variables.$color-regenerate-intervene-strong;
}
.text-intervene:not(.text-regenerate) {
	color: variables.$color-intervene-strong;
}

.bd-construct:not(.bd-regenerate) {
	border: 1px solid variables.$color-construct;
}
.bd-construct.bd-regenerate {
	border: 1px solid variables.$color-construct-regenerate;
}
.bd-regenerate:not(.bd-construct):not(.bd-intervene) {
	border: 1px solid variables.$color-regenerate;
}
.bd-regenerate.bd-intervene {
	border: 1px solid variables.$color-regenerate-intervene;
}
.bd-intervene:not(.bd-regenerate) {
	border: 1px solid variables.$color-intervene;
}
/*! purgecss end ignore */
