@use 'src/styles/_variables.scss';

@mixin media-sm() {
	@media screen and (max-width: variables.$size-sm - 1) {
		@content;
	}
}

@mixin media-md() {
	@media screen and (min-width: variables.$size-sm) and (max-width: variables.$size-lg - 1) {
		@content;
	}
}

@mixin media-lg() {
	@media screen and (min-width: variables.$size-lg) {
		@content;
	}
}

@mixin media-sm-md() {
	@include media-sm {
		@content;
	}
	@include media-md {
		@content;
	}
}

@mixin responsive-grid($template-sm, $template-md, $template-lg) {
	display: grid;
	gap: var(--grid-gutter);

	@include media-sm {
		grid-template-columns: $template-sm;
	}
	@include media-md {
		grid-template-columns: $template-md;
	}
	@include media-lg {
		grid-template-columns: $template-lg;
	}
}

@mixin pill($is-vertical: false) {
	background: var(--bg-color);
	border-radius: 9999px;
	display: flex;
	padding: 0.5rem;

	@if $is-vertical {
		flex-direction: column;
	}
}
