// Couleurs
$color-construct: #5c698c;
$color-construct-regenerate: #619992;
$color-regenerate: #4d6f45;
$color-regenerate-intervene: #949465;
$color-intervene: #7e7069;

// Ombres
$shadow: 0 0.25rem 1rem rgb(48 55 66 / 15%);

// Tailles
$header-height: 5rem;
$header-height-sm: 3.6rem;

// Responsive
$size-sm: 600px;
$size-lg: 900px;

// Z-index
$z-index-header: 10;
$z-index-modal: 20;
