// Couleurs
$color-construct-light: #d2ddea;
$color-construct: #3a85b3;
$color-construct-strong: #196e96;
$color-construct-regenerate-light: #dce6e2;
$color-construct-regenerate: #61a38f;
$color-construct-regenerate-strong: #4e8e75;
$color-regenerate-light: #dfe7d4;
$color-regenerate: #7aab54;
$color-regenerate-strong: #648f3e;
$color-regenerate-intervene-light: #e3e3da;
$color-regenerate-intervene: #929a76;
$color-regenerate-intervene-strong: #7a7b61;
$color-intervene-light: #ecddd9;
$color-intervene: #b8796f;
$color-intervene-strong: #985d5a;

// Police
$font-family-secondary: 'Caecilia LT Std', -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next',
	'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;

// Ombres
$shadow: 0 0.25rem 1rem rgb(48 55 66 / 15%);

// Tailles
$header-height: 5rem;
$header-height-sm: 3.6rem;

// Responsive
$size-sm: 600px;
$size-lg: 900px;

// Z-index
$z-index-dropdown-card: 5;
$z-index-header: 10;
$z-index-modal: 20;
