@use 'src/styles/utilities.scss';
@use 'node_modules/chota/dist/chota.min.css';

@font-face {
	font-family: 'Caecilia LT Std';
	src: url('/fonts/caecilia-lt-std-heavy.woff2') format('woff2'),
		url('/fonts/caecilia-lt-std-heavy.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	--color-primary: #9a7b6c;
	--font-size: 1.5rem;

	&.dark {
		--bg-color: #000;
		--bg-secondary-color: #131316;
		--font-color: #f5f5f5;
		--color-grey: #ccc;
		--color-darkGrey: #777;
	}
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: 'Caecilia LT Std', -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next',
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

// Copié depuis https://kit.svelte.dev/
#svelte-announcer {
	/* purgecss ignore current */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: 1px;
}

/* purgecss start ignore */
.text-construct:not(.text-regenerate) {
	color: utilities.$color-construct;
}
.text-construct.text-regenerate {
	color: utilities.$color-construct-regenerate;
}
.text-regenerate:not(.text-construct):not(.text-intervene) {
	color: utilities.$color-regenerate;
}
.text-regenerate.text-intervene {
	color: utilities.$color-regenerate-intervene;
}
.text-intervene:not(.text-regenerate) {
	color: utilities.$color-intervene;
}
/* purgecss end ignore */

.bg-lines,
.bg-rounds {
	background-repeat: repeat;
	background-size: 250px;
}
.bg-lines {
	background-image: url('/fonds/lignes.png');
}
.bg-rounds {
	background-image: url('/fonds/ronds.png');
}

/* purgecss start ignore */
.bd-construct:not(.bd-regenerate) {
	border: 1px solid utilities.$color-construct;
}
.bd-construct.bd-regenerate {
	border: 1px solid utilities.$color-construct-regenerate;
}
.bd-regenerate:not(.bd-construct):not(.bd-intervene) {
	border: 1px solid utilities.$color-regenerate;
}
.bd-regenerate.bd-intervene {
	border: 1px solid utilities.$color-regenerate-intervene;
}
.bd-intervene:not(.bd-regenerate) {
	border: 1px solid utilities.$color-intervene;
}
/* purgecss end ignore */
