@use 'src/styles/utilities.scss';
@use 'node_modules/chota/dist/chota.min.css';

@font-face {
	font-family: 'Caecilia LT Std';
	src: url('/fonts/caecilia-lt-std-heavy.woff2') format('woff2'),
		url('/fonts/caecilia-lt-std-heavy.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	--font-size: 1.5rem;

	&.dark {
		--bg-color: #000;
		--bg-secondary-color: #131316;
		--font-color: #f5f5f5;
		--color-grey: #ccc;
		--color-darkGrey: #777;
	}
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: utilities.$font-family-secondary;
}

// Copié depuis https://kit.svelte.dev/
#svelte-announcer {
	/* purgecss ignore current */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: 1px;
}
