.layouts {
  justify-content: space-evenly;
}

.section {
  &-subtitle {
    font-style: italic;
    font-weight: $weight-medium;
    margin-left: auto;
    margin-right: auto;
    margin-top: -$size-2;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: $size-1;
    }

    @include desktop {
      line-height: inherit;
      max-width: 75%;
    }
  }
}

.news {
  .subtitle {
    font-weight: $weight-medium;
  }
  .button {
    margin-top: auto;
  }
}

.subcategories {
  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 300px;
  }
}

.partners {
  font-weight: $weight-medium;
  text-align: center;

  img, a {
    height: 60px;
    max-width: 120px;
  }
  a {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;

    &:hover img {
      opacity: 0.6;
    }
  }
  img {
    display: block;
    object-fit: contain;
  }
}

.box {
  border: 2px solid $dark;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $size-4;

  &:not(:last-child) {
    margin-bottom: $size-4;
  }
  &.is-white {
    border-color: $white;
  }
  &.is-build {
    border-color: $build;

    &.is-regenerate {
      border-color: $build-regenerate;
    }
  }
  &.is-regenerate {
    border-color: $regenerate;

    &.is-intervene {
      border-color: $regenerate-intervene;
    }
  }
  &.is-intervene {
    border-color: $intervene;
  }

  .title {
    text-align: center;

    + .buttons:last-child {
      margin-bottom: auto;
    }
  }
  .subtitle {
    text-align: center;
  }
  .buttons {
    &:last-child {
      margin-top: auto;

      &:first-child {
        margin-bottom: auto;
      }
    }
  }
  .column {
    display: flex;
    flex-direction: column;
  }
}

.actions {
  &-list {
    .action {
      height: 100%;
    }
  }

  &-filters {
    .column {
      &:not(:first-child) {
        margin-top: $size-7 !important;
      }

      > label, > p {
        flex-shrink: 0;
      }
      > input {
        background: transparent;
      }
      details {
        margin-bottom: 0;

        label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      @include mobile {
        span {
          display: none;
        }
        details, summary, button {
          width: 100%;
        }
        summary {
          text-align: start;
        }
        .dropdown-menu {
          width: 100%;
        }
      }
      @include tablet {
        align-items: center;
        display: flex;
      }
    }

    @include tablet {
      justify-content: space-between;
    }
  }

  &-placeholder {
    font-style: italic;
    text-align: center;
  }

  &-pagination {
    &-counter {
      @include mobile {
        text-align: center;
      }
    }
    form {
      align-items: center;
      display: flex;
      justify-content: center;

      @include mobile {
        display: none;
      }

      input {
        font-weight: $strong-weight;
        width: calc(3.1em + 2 * $control-padding-horizontal);
      }
      button {
        & {
          border-color: $input-border-color !important;
        }
        &:hover {
          border-color: $input-hover-border-color !important;
        }
        &:focus {
          border-color: $input-focus-border-color !important;
        }
      }
    }
    &-buttons {
      display: flex;
      justify-content: space-between;

      @include tablet {
        justify-content: flex-end;
      }

      .button {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
          margin-right: $size-7;
        }
      }
    }
  }
}

.action {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  padding: $column-gap;

  @mixin action-variant($pair) {
    border-color: nth($pair, 1);

    .action-subcategory {
      border: 1px solid transparent;
      color: nth($pair, 4);
      background-color: nth($pair, 3);
      text-decoration: none;

      &:hover {
        border-color: nth($pair, 4);
      }
    }
  }
  &.is-build {
    @include action-variant(map-get($colors, 'build'));

    &.is-regenerate {
      @include action-variant(map-get($colors, 'build-regenerate'));
    }
  }
  &.is-regenerate {
    @include action-variant(map-get($colors, 'regenerate'));

    &.is-intervene {
      @include action-variant(map-get($colors, 'regenerate-intervene'));
    }
  }
  &.is-intervene {
    @include action-variant(map-get($colors, 'intervene'));
  }

  > :not(:last-child) {
    margin-bottom: $size-7;
  }
  &-level {
    float: right;
    user-select: none;
  }
  &-sources {
    margin-top: auto;
  }
  &-subcategory {
    align-self: flex-start;
    max-width: 100%;
    overflow: hidden;
    padding: 0 $size-7;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
