.navbar {
  font-weight: $weight-semibold;

  a:not(:hover, .is-active) {
    text-decoration: none;
  }

  &-start {
    margin-left: auto;
    margin-right: 0;
  }
  &-brand {
    .navbar-item {
      padding: 0.25rem 0.75rem;
    }
    a:hover img {
      opacity: 0.8;
    }
  }
  &-lang {
    a:hover {
      color: inherit;
    }
  }

  @include until($navbar-breakpoint) {
    a:hover, a.is-active {
      color: $text;
    }
    .button {
      margin-right: 0 !important;
      width: 100%;
    }

    &-menu {
      background: $white;
    }
  }
}

.footer {
  ul a {
    text-decoration: none;
  }

  &-copyright {
    text-align: center;
  }
}
