.navbar {
  font-weight: $weight-semibold;
  transition: background $easing 2 * $speed;

  &.is-white {
    background: rgba($white, 0.9);
  }

  a:not(:hover, .is-active) {
    text-decoration: none;
  }
  &-start {
    margin-left: auto;
    margin-right: 0;
  }
  &-brand {
    .navbar-item {
      padding: 0.25rem 0.75rem;
    }
    a:hover img {
      opacity: 0.8;
    }
  }
  &-lang {
    a:hover {
      color: inherit;
    }
  }
  &-end &-item:last-child {
    padding-bottom: 0;
    padding-top: 0;
  }

  @include until($navbar-breakpoint) {
    a:hover, a.is-active {
      color: $text;
    }
    .button {
      margin-right: 0 !important;
      width: 100%;
    }

    &-menu {
      background: $white;
    }
  }
}

.hero {
  background-image: linear-gradient(transparent, $light), url('/fond-arbre.jpg');
  background-position: top center;
  background-size: cover;
}

.footer {
  ul a {
    text-decoration: none;
  }

  &-copyright {
    text-align: center;
  }
}
