@font-face {
  font-family: 'Police Titre';
  src: url('/police-titre.woff2') format('woff2'),
      url('/police-titre.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1, h2 {
  font-family: $family-secondary;

  &.title {
    text-align: center;

    @include desktop {
      font-size: $size-2;
      line-height: inherit;
    }

    &:not(:last-child) {
      margin-bottom: $size-1;
    }
  }
}

a:not(.button) {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 2px;

  @mixin link-variant($color) {
    text-decoration-color: $color;

    &:hover {
      color: $color;
    }
  }
  &.is-build {
    @include link-variant($build);

    &.is-regenerate {
      @include link-variant($build-regenerate);
    }
  }
  &.is-regenerate {
    @include link-variant($regenerate);

    &.is-intervene {
      @include link-variant($regenerate-intervene);
    }
  }
  &.is-intervene {
    @include link-variant($intervene);
  }
}

button {
  cursor: pointer;

  &.is-ghost:disabled {
    border-color: transparent;
  }
}

input {
  &::placeholder {
    opacity: 0.5;
  }
}

details {
  &:not(:last-child) {
    margin-bottom: $size-6;
  }

  &.dropdown {
    &.is-center .dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
    }

    summary {
      box-sizing: border-box;

      &.is-bullet-less::-webkit-details-marker {
        display: none;
      }
      &:not(.is-bullet-less) {
        display: list-item;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .dropdown-content {
      max-height: 50vh;
      overflow: auto;
    }
    .dropdown-item {
      font-size: inherit;
      padding-right: $size-6;
      text-decoration: none;
      width: initial;
    }
  }

  &:not(.dropdown) {
    summary {
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
    .content {
      margin-top: $size-7;
    }
  }
}

iframe {
  display: block;

  &:not(:last-child) {
    margin-bottom: $size-4;
  }
}

ul.horizontal-slider, .horizontal-slider ul {
  display: flex;
}
.horizontal-slider {
  left: 50%;
  overflow-x: scroll;
  position: relative;
  scrollbar-width: none;
  transform: translateX(-50%);
  width: 100vw;

  &.is-fullwidth {
    li {
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }
  &:not(.is-fullwidth) {
    // Largeurs copiées depuis `container.sass`
    @mixin horizontal-slider-padding($containerWidth) {
      padding: 0 calc(calc(100vw - $containerWidth) / 2);
    }
    @include desktop {
      @include horizontal-slider-padding($desktop - $container-offset);
    }
    @include until-widescreen {
      @include horizontal-slider-padding(min($widescreen, $container-max-width) - $container-offset);
    }
    @include until-fullhd {
      @include horizontal-slider-padding(min($fullhd, $container-max-width) - $container-offset);
    }
    @include widescreen {
      @include horizontal-slider-padding(min($widescreen, $container-max-width) - $container-offset);

      li {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    @include fullhd {
      @include horizontal-slider-padding(min($fullhd, $container-max-width) - $container-offset);
    }
  }

  &::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
	}
  ul {
    &:not(:last-child) {
      margin-bottom: 2 * $column-gap;
    }
  }
  li {
    &.column {
      padding-bottom: 0;
      padding-top: 0;
    }
    &:not(.column) {
      padding-left: $column-gap;
      padding-right: $column-gap;
    }
    &:first-child {
      padding-left: 2 * $column-gap;
    }
    &:last-child {
      padding-right: 2 * $column-gap;
    }
  }
}

.buttons {
  &.is-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    min-width: 50%;
    width: fit-content;

    &:first-child:last-child {
      height: 100%;
    }

    .button {
      width: 100%;
    }
  }

  .button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
