@font-face {
  font-family: 'Police Titre';
  src: url('/police-titre.woff2') format('woff2'),
      url('/police-titre.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1, h2 {
  font-family: $family-secondary;

  &.title {
    text-align: center;

    @include desktop {
      font-size: $size-2;
      line-height: inherit;
    }

    &:not(:last-child) {
      margin-bottom: $size-1;
    }
  }
}

a:not(.button) {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 2px;

  @mixin link-variant($color) {
    text-decoration-color: $color;

    &:hover {
      color: $color;
    }
  }
  &.is-build {
    @include link-variant($build);

    &.is-regenerate {
      @include link-variant($build-regenerate);
    }
  }
  &.is-regenerate {
    @include link-variant($regenerate);

    &.is-intervene {
      @include link-variant($regenerate-intervene);
    }
  }
  &.is-intervene {
    @include link-variant($intervene);
  }
}

button {
  cursor: pointer;

  &.is-ghost:disabled {
    border-color: transparent;
  }
}

details {
  &:not(:last-child) {
    margin-bottom: $size-6;
  }

  &.dropdown {
    &.is-center .dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
    }

    summary {
      box-sizing: border-box;

      &.is-bullet-less::-webkit-details-marker {
        display: none;
      }
      &:not(.is-bullet-less) {
        display: list-item;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .dropdown-content {
      max-height: 50vh;
      overflow: auto;
    }
    .dropdown-item {
      font-size: inherit;
      padding-right: $size-6;
      text-decoration: none;
      width: initial;
    }
  }

  &:not(.dropdown) {
    summary {
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
    .content {
      margin-top: $size-7;
    }
  }
}

iframe {
  display: block;

  &:not(:last-child) {
    margin-bottom: $size-4;
  }
}

.card {
  &-footer-item {
    display: inline-block;
    text-align: center;
  }
}

.buttons {
  &.is-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    min-width: 50%;
    width: fit-content;

    &:first-child:last-child {
      height: 100%;
    }

    .button {
      width: 100%;
    }
  }

  .button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
