@import 'bulma/sass/utilities/initial-variables.sass';

$build: #59A6D9; // bleu
$build-regenerate: #61a38f; // bleu vert
$regenerate: #88B559; // vert
$regenerate-intervene: #929a76; // vert rouge
$intervene: #D47866; // rouge
$light: #F5EAE0;
$dark: #332131;
$primary: $intervene;

$custom-colors: (
  'build': ($build, $black),
  'build-regenerate': ($build-regenerate, $black),
  'regenerate': ($regenerate, $black),
  'regenerate-intervene': ($regenerate-intervene, $black),
  'intervene': ($intervene, $black)
);

$family-secondary: 'Police Titre', 'Tahoma', $family-sans-serif;

$text: $dark;
$text-strong: inherit;
$link: inherit;
$link-hover: $primary;
$subtitle-color: inherit;

$scheme-main: $light;

$radius: 0;

$navbar-height: 3.25rem;
$navbar-background-color: transparent;
$navbar-item-img-max-height: 2.5rem;
$footer-background-color: $black;
$footer-color: $white;

$modal-card-body-background-color: $white;

$card-radius: 0;
$card-footer-border-top: 1px solid $grey;

$dropdown-menu-min-width: initial;
$dropdown-content-background-color: $white;
$dropdown-item-active-color: inherit;
$dropdown-item-active-background-color: $grey-lightest;

$input-background-color: $white;

// Utilities
@import 'bulma/sass/utilities/functions.sass';
@import 'bulma/sass/utilities/derived-variables.sass';
@import 'bulma/sass/utilities/mixins.sass';
@import 'bulma/sass/utilities/controls.sass';
@import 'bulma/sass/utilities/extends.sass';
