@use 'sass:list';
@use 'sass:math';
@import '_variables.scss';

$zoomMax: 10;
$treeWidth: 6000;
$treeHeight: 4238;
$landscapeHeight: $zoomMax * 100vh;
$landscapeWidth: $zoomMax * math.div($treeWidth, $treeHeight) * 100vh;
$portraitHeight: $zoomMax * math.div($treeHeight, $treeWidth) * 100vw;
$portraitWidth: $zoomMax * 100vw;
$actionLandscapeFontSize: 0.0035 * $landscapeHeight;
$actionPortraitFontSize: 0.0035 * $portraitHeight;
$subcategoryLandscapeFontSize: 0.0045 * $landscapeHeight;
$subcategoryPortraitFontSize: 0.0045 * $portraitHeight;

@mixin mediaPortrait() {
  @media (max-aspect-ratio: list.slash($treeWidth, $treeHeight)) {
    @content;
  }
}

@font-face {
  font-family: 'Police Action Arbre';
  src: url('/police-action-arbre.woff2') format('woff2'),
      url('/police-action-arbre.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body, main {
  height: 100%;
}

html {
  background-color: $white;
}

.navbar {
  height: $navbar-height;
}

main {
  overflow: hidden;
  position: relative;
}

canvas {
  display: none;
}

.tree {
  &-container {
    display: flex;
    height: $zoomMax * 100%;
		transform-origin: top left;
    width: $zoomMax * 100%;

    > div {
      height: $landscapeHeight;
      margin: auto;
      position: relative;
      width: $landscapeWidth;

      @include mediaPortrait {
        height: $portraitHeight;
        width: $portraitWidth;
      }
    }
  }

  &-image {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-items {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-subcategory {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    a {
      font-family: 'Police Action Arbre', $family-sans-serif;
      font-size: $subcategoryLandscapeFontSize;
      line-height: 1.2;
      text-align: center;
      text-decoration: none;
    }

    @include mediaPortrait() {
      font-size: $subcategoryPortraitFontSize;
    }
  }

  &-action {
    position: absolute;

    &.is-bibliography {
      .tree-action-name {
        font-style: italic;
      }
      .tree-action-separator {
        display: none;
      }
      .tree-action-sources {
        font-family: inherit;
      }
    }
    @mixin tree-action-variant($pair) {
      &.is-bibliography {
        button {
          background: nth($pair, 3);
        }
        .tree-action-name {
          color: nth($pair, 4);
        }
      }

      .tree-action-sources {
        color: nth($pair, 4);
      }
    }
    &.is-build {
      @include tree-action-variant(map-get($colors, 'build'));

      &.is-regenerate {
        @include tree-action-variant(map-get($colors, 'build-regenerate'));
      }
    }
    &.is-regenerate {
      @include tree-action-variant(map-get($colors, 'regenerate'));

      &.is-intervene {
        @include tree-action-variant(map-get($colors, 'regenerate-intervene'));
      }
    }
    &.is-intervene {
      @include tree-action-variant(map-get($colors, 'intervene'));
    }

    &, &::before, button {
      border-radius: 50%;
    }
    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    button {
      align-items: center;
      background: transparent;
      border: 0;
      color: $text;
      display: flex;
      flex-direction: column;
      font-size: $actionLandscapeFontSize;
      height: 100%;
      justify-content: center;
      left: 0;
      padding: 15%; // Valeur approximative permettant de faire rentrer un carré dans un cercle
      position: absolute;
      top: 0;
      width: 100%;

      &:hover {
        opacity: 0.6;
      }

      @include mediaPortrait() {
        font-size: $actionPortraitFontSize;
      }
    }
    &-name, &-sources {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 1em;
      font-weight: $weight-semibold;
      line-height: 1.2;
      overflow: hidden;
      text-align: center;
    }
    &-name {
      -webkit-line-clamp: 4;
    }
    &-separator {
      height: 0.4em;
      margin: 0.2em 0 0.4em 0;
      width: 0.4em;

      &::before {
        border-bottom: solid $grey-light 0.1em;
        border-right: solid $grey-light 0.1em;
        content: '';
        display: block;
        height: 100%;
        transform: rotate(45deg);
        width: 100%;
      }
    }
    &-sources {
      -webkit-line-clamp: 3;
      font-family: 'Police Action Arbre', $family-sans-serif;
    }
  }

  &-dropdowns, &-buttons, &-zoom-buttons {
    position: absolute;
    top: $navbar-height + $size-7;
  }
  &-dropdowns {
    left: $size-7;

    details {
      margin-bottom: 0;
    }
    &-credits {
      .dropdown-menu {
        max-width: calc(100vw - 2 * $size-7);
        width: 35rem;
      }
    }
  }
  &-buttons {
    right: 50%;
    transform: translateX(50%);

    button {
      &:first-child {
        margin-left: 0 !important;
      }
      &:last-child {
        margin-right: 0 !important;
      }
    }

    @include mobile {
      right: $size-7;
      transform: none;
    }
  }
  &-zoom-buttons {
    right: $size-7;
    touch-action: none; // Empêche le zoom par double-clic

    &, button {
      margin-bottom: 0 !important;
    }
    button {
      font-weight: $weight-bold;
    }

    @include mobile {
      bottom: $size-7;
      top: initial;
    }
  }
}

.modal {
  &-background {
    border: none;
    width: 100%;
  }
}
