<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirection vers la version HTTPS
  RewriteCond %{HTTPS} off [NC]
  RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

  # Redirection vers la version avec www
  RewriteCond %{HTTP_HOST} !^www. [NC]
  RewriteRule (.*) https://www.%{HTTP_HOST}/$1 [R=301,L]

  # Page 404 personnalisée
  ErrorDocument 404 /introuvable/index.html
</IfModule>
